.musicControls {
  position: absolute;
  top: 0;
  right: -150px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 100%;
  padding: 0 10px;
  border-radius: 0 20px 20px 0;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.musicControls.visible {
  right: 0;
  opacity: 1;
}

.controlBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50% !important;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.controlBtn:hover {
  background: rgb(255 255 255 / 20%);
  opacity: 1;
  transform: scale(1.15);
}

.controlBtn svg {
  width: 12px;
  height: 12px;
}

.playPauseBtn {
  position: relative;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
