.air-conditioner-container {
  max-width: 1400px;
  padding: 0 1.5rem 1.5rem;
  margin: 0 auto;

  .air-conditioner-content {
    width: 100%;
    background: var(--anzhiyu-card-bg);
    border: var(--style-border);
    border-radius: 12px;
  }
}

.copyright-box a {
  padding: 0 !important;
  border-bottom: none !important;
}
