/* TagPage */

.tagCloudAmount {
  max-width: 1400px;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 0.5rem;
  color: var(--anzhiyu-fontcolor);
}

.pageTitle {
  margin: 0.4rem 0 1rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.tagCloudList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  animation: fadeInUp 0.6s 0.2s backwards;
}

.tagItem {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  padding: 0.6rem 0.7rem;
  margin: 0.7rem;
  font-size: 1.4rem;
  color: var(--anzhiyu-fontcolor);
  background: var(--anzhiyu-card-bg);
  border: var(--style-border-always);
  border-radius: 12px;
  box-shadow: var(--anzhiyu-shadow-border);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.2s;
}

.tagItem:hover {
  color: var(--anzhiyu-white);
  background: var(--anzhiyu-main);
  border: var(--style-border-hover);
  box-shadow: var(--anzhiyu-shadow-blue);
}

.tagItem svg {
  font-size: 1.2rem;
  opacity: 0.4;
}

.tagsPageCount {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  padding: 2px 4px;
  margin-left: 8px;
  font-size: 16px;
  line-height: 1;
  color: var(--anzhiyu-fontcolor);
  background: var(--anzhiyu-secondbg);
  border-radius: 8px;
  transition: 0.2s;
}

.loadingTip,
.errorTip {
  text-align: center;
  padding: 2rem 0;
  color: var(--anzhiyu-secondtext);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
